@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  font-family: "Lato", sans-serif;
  font-size: 12px;
}

.wrapper {
  width: 640px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

th {
  background: #efefef;
  padding: 10px 7px;
  margin: 0;
}

td {
  vertical-align: top;
  padding: 10px 7px;
}

tr:nth-child(odd) {
  background-color: #f3f3f3;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.no-break {
  white-space: nowrap;
}

tr.section > td {
  background: #efefef;
  font-weight: bold;
}

.position-description {
  color: #666;
  margin-top: 1rem;
  font-weight: normal;
}
